@font-face {
  font-family: "SansPro-Regular";
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-display: swap;
}

@font-face{
  font-family: "sansPro-Bold";
  src:url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-display: swap;
}

@font-face{
  font-family: "sansPro-Light";
  src:url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
  font-display: swap;
}

@font-face{
  font-family: "sansPro-semiBold";
  src:url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  font-display: swap;
}

@font-face{
  font-family: "Sofia";
  src:url('../fonts/Sofia/Sofia-Regular.ttf');
  font-display: swap;
}
