/**
 *
 * Variables Themes
 *
 */
 $color_black:#231f20;
 $color_grey_deep_1:#696969;
 $color_grey_deep_2:#555555;
 $color_grey_deep_3:#4b4b4b;
 $color_grey_light_1:#f4f4f4;
 $color_grey_light_2:#f9f9f9;
 $color_white:#ffffff;


 /**
  *
  * Variables theme products
  *
  */

  $color_bisque: bisque;
  $color_blue: royalblue;
  $color_grey: #999999;
  $color_red: darkred;
